body{
    margin:0;
    padding-top: 65px;
    padding-left: 94px;
    padding-right: 20px;
    margin-bottom: 1000px;
    background-color: rgb(248,248,248);
}
p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail{
    width: 100%;
}

.thumbnail-box{
    position: relative;
}
.video-length{
    background-color: black;
    color: white;
    font-family: Roboto,Arial;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    bottom: 12px;
    right: 5px;
    border-radius: 2px;
    padding: 4px;
}

.channel-pic{
    border-radius: 25px;
    width:40px;
}

.video-title{
    margin-bottom:12px;
    font-size: 14px;
    font-weight:500;
    line-height: 20px;
}

.video-channel,
.video-stats{
    margin-bottom: 6px;
    font-size: 12px;
    color:rgb(96,96,96);
}

.thumbnail-box{
    margin-bottom: 10px;
}

.video-grid{
    column-gap: 15px;
    row-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width:1050px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 800px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.header{
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 55px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228,228,228);
    border-bottom-style: solid;
}

.left-section{
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    margin-right: 64px;
}
.hamburger-menu-icon{
    margin-left: 24px;
    width: 24px;
    margin-right: 24px;
}
.youtube-logo-icon{
    height: 20px;
}

.middle-section{
    display: flex;
    align-items: center;
    max-width: 500px;
    /* background-color: lightgreen; */
    flex:1;
}
.search-bar{
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.05);
    width: 0;
    flex:1;
    height: 35px;
    font-size: 18px;
    padding-left: 10px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(192,192,192);
}
.search-button{
    margin-left: -1px;
    padding-top: 5px;
    background-color: rgb(240,240,240);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192,192,192);
    height: 38px;
    width: 60px;
}
.search-button,
.voice-search-button,
.upload-button,
.youtube-apps-button
.notification-icon-container{
    position:relative;
    display:flex;
    justify-content: center;
    white-space: nowrap;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-button .tooltip,
.youtube-apps-button .tooltip,
.notification-icon-container .tooltip{
    background-color: gray;
    color: white;
    padding: 5px;
    font-family: Roboto,Arial;
    font-size: 14px;
    position: absolute;
    bottom:-37px;
    opacity:0;
    transition: opacity 0.15s;
    pointer-events:none;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-button:hover .tooltip,
.youtube-apps-button:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity:1;
}
.search-icon{
    height: 25px;
}
.serch-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;

}
.voice-search-button{
    background-color: rgb(245,245,245);
    padding-top: 5px;
    margin-left: 10px;
    border:none;
    border-radius: 25px;
    height: 40px;
    width: 40px;
}
.voice-search-icon{
    height: 25px;
}

.right-section{
    /* background-color: lightblue; */
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    width: 200px;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon{
    height: 25px;
    /* margin-right: 20px; */
    /* width: 50px; */
}
.youtube-app-icon{
    /* margin-right: 22px; */
    height:25px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    background-color: rgb(200,0,0);
    color: white;
    font-family: Roboto,Arial;
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: green;
    border-width: 10px;
    position: absolute;
    top: -2px;
    right: -3px;
}
.notification-icon{
    /* margin-right: 22px; */
    height:25px;
}
.profile-icon{
    border-radius: 20px;
    height:35px;
}


.sidebar{
    padding-top: 4px;
    background-color: white;
    position: fixed;
    z-index: 200;
    top: 52px;
    bottom: 0px;
    left: 0px;
    width: 72px;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76px;
}
.sidebar-link:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height:24px;
    margin-bottom: 5px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}